/vendor
/node_modules
/.env
/.env.*
!/.env.example
/.phpunit.result.cache
/.idea
/.vscode
/storage/*.key
/storage/logs/*.log
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/bootstrap/cache/*.php
/bootstrap/cache/packages.php
/bootstrap/cache/services.php
/public/storage
/public/hot
/npm-debug.log
/yarn-error.log
/composer.phar
